* { 
    box-sizing:border-box;
}

html, body {
    height:100%;
    text-rendering: optimizeLegibility;
}

body {
    background:#1c1b1e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Roboto-light", sans-serif;
    font-size:16px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
    display:none;
}
.unstyled {
    list-style:none;
    margin:0;
    padding:0;
}
.unstyled li {    
    display: inline;
}

.icon {
    font-size:28px;
    width:44px;
    height:44px;
    text-align:center;
    line-height:44px;
}

.main {
    background:#1c1b1e;
    height:100%;
    overflow:hidden;
}

.status-bar {
    background:black;
    display:none;
    height:20px;
}

.deck {
    background:rgba(0,0,0,.75);
    -webkit-perspective: 1200;
    perspective: 1200;
    overflow:hidden;
    position: absolute;
    top:0;
    right:0;
    bottom:44px;
    left:0;
}
.deck::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:0.5;
    position: absolute;
    z-index: -1;   
}
.ios-standalone .deck {
    top:20px;
}
.ios-standalone .status {
    display:block;
}
.card {
    height:100%;  
    width:100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transition:0.5s;
    position:absolute;
    z-index:1;
}
.card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
    z-index:2;
}
.card.tossed {
    -webkit-transform: translate(100%, 0) rotateY(-90deg);
    transform: translate(100%, 0) rotateY(-90deg);
}
.face {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index:2;
    text-align:center;
}
.card .front {
    background:#fff;
     -webkit-transform: rotatey(180deg);    
    transform: rotateY( 180deg );   
    z-index:1;   
}
.card .back,
.deck-bottom,
.deck::after {
    background-color:#343238;
    background: #343238 url('../img/empire_logo@2x.png') no-repeat center center;
    background: url('../img/empire_logo@2x.png') no-repeat center center, -webkit-linear-gradient(#62606a, #343238);
    background: url('../img/empire_logo@2x.png') no-repeat center center, linear-gradient(#62606a, #343238);
    background-size:contain;
}

.card-header {
    background:rgba(255,255,255,.5);    
    border-bottom:2px solid #fff;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.05);
    font: 400 3.5em 'Starjedi';
    height:90px;
    overflow:hidden;
}
.card-header:after {
    content: "";
    background:transparent url('../img/linen.png');
    opacity:1.0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;      
}

.rebel-icon-red {
    color:#9a0f0f;
    background: -webkit-linear-gradient(#e24b4b, #9a0f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rebel-icon-green {
    color:#2f9e10;
    background: -webkit-linear-gradient(#6ce24c, #2f9e10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.rebel-icon-blue {
    color:#1241b8;
    background: -webkit-linear-gradient(#4c77e2, #1241b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.rebel-icon-gold {
    color:#b8b212;
    background: -webkit-linear-gradient(#e2dc4c, #b8b212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;     
}


.card .content {
    background: rgb(231,226,227); /* Old browsers */
    background: linear-gradient(to right, rgba(220,211,198,0.5) 1%,rgba(231,226,227,0.5) 15%,rgba(231,226,227,0.5) 85%,rgba(220,211,198,0.5) 100%);
    position:absolute;
    top:90px;
    right:0;
    bottom:44px;
    left:0;
    width:100%;
    padding:0 10px;
}
.card .content:after {
    content: "";
    background:transparent url('../img/linen.png');
    opacity:1.0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;      
}

.card .content .wrap {
    display:table;
    width:100%;
    height:100%;
}

.card h1 {
    font: 400 3.5em 'Starjedi';
    letter-spacing: 2px;
    display:none;
}

.blitz h1,
.blitz .blitz-content,
.blitz .actions  {
    display:table-row;
}

.blitz-content {
    color: #666;    
    display:none;
    font-size:0.875em;
    padding:10px;
}
.blitz-content > div {
    display:table-cell;
    vertical-align:middle;
}
.blitz-content p {
    margin:0 0 5px;
    padding:0;
}

.actions {
    font:400 2.0em/1.5 'Starjedi';
    display: table-row;
}
.actions ul {
    display: table-cell;
    list-style:none;
    margin:0;
    padding:0;
    vertical-align: middle;    
}
.actions li {
    margin:0;
    padding:0;
}

.blitz .actions {
    font: 400 2em/1.25 'Starjedi';
    padding:0;
}

.blitz .actions ul {
    vertical-align:top;
}

.card-footer {
    background:#d7d2d9;
    border-top:1px solid #eee;
    height:44px;
    line-height:44px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}
.card-footer:after {
    content: "";
    background:transparent url('../img/linen.png');
    width:100%;
    height:100%;
    opacity:1.0;
    position: absolute;
    z-index: -1;      
}
.card-footer div {
    background:rgba(255,255,255,.5);
    border:1px solid #eee;
    border-radius:5px;
    margin:2px 0;
    padding:0 10px;
    height:40px;
    line-height:40px    
}
.decision-bits {
    float:left;
}
.decision-bits .icon {
    display:inline-block;
}
.card-count {
    color:#5b5858;
    float:right;
    font-weight:800px;
}

.deck-bottom {
    position: absolute;
    width:100%;
    height:100%;
}
.deck-bottom a.btn-shuffle,
.deck-bottom a.btn-shuffle:hover,
.deck-bottom a.btn-shuffle:visited {
    background:#d21516;
    border: 1px solid #343338;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:white;
    width:150px;
    height:44px;
    line-height:44px;
    margin:-22px 0 0 -75px;
    outline:none;
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    text-decoration:none;
    visibility:hidden;
}
.deck.empty .deck-bottom {
    background:transparent;
}
.deck.empty .deck-bottom a {
    visibility:visible;
}

.footer {
    background: #25292c;
    border-top:1px solid #4a5057;
    color:white;
    height:44px;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}
.footer li {
    float:left;
    display:block;
}
.footer li a,
.footer li a:hover,
.footer li a:visited {
    color:white;
    display:block;
    height:44px;
    width:64px;
    text-align:center;
}
.footer li .icon {
    display:inline-block;
    line-height:44px;
}

@media (min-width: 320px) and (orientation:landscape) {
    .card-header {
        height:70px;
        font-size:3em;
    }
    .card .content {
        top:70px;
    }
    .actions li {
        display:inline;
    }
    .actions li:after {
        content:'.';
    }
}

@media (min-width: 480px) {    
    .card h1 {
        font: 400 2.5em 'Starjedi';
    }
    .actions {
        font:400 1.75em/1 'Starjedi';
    }
    .blitz .actions {
        font:400 1.25em/1 'Starjedi';
    }
}

@media (min-width: 550px) { 
    .card h1 {
        font: 400 2.75em 'Starjedi';
    }
    .actions {
        font:400 2.0em/1 'Starjedi';
    }
    .blitz .actions {
        font:400 1.5em/1 'Starjedi';
    }    
}

@media (min-width: 640px) {
    .card h1 {
        font: 400 3.5em 'Starjedi';
    }
    .actions {
        font:400 3.0em/1.25 'Starjedi';
    }
    .blitz .actions {
        font:400 2.5em/1.25 'Starjedi';
    }
    .blitz-content {
        font-size:1em;
    }
}

@media (min-width: 768px){
    .main {
        width:414px;
        max-height:736px;
        position:relative;
        margin:0 auto;
    }
    .actions {
        font:400 3.5em/1.5 'Starjedi';
    }
    .blitz .actions {
        font:400 3.0em/1.25 'Starjedi';
    }
    .blitz-content {
        font-size:1em;
    }
}

@media (min-height: 768px){
    body {
        padding:20px 0;
    }
    .main {
        width:414px;
        max-height:736px;
        position:relative;
        margin:0 auto;
    }
}

/* iphone 5 */
@media (min-width:320px) 
and (max-width : 568px) 
and (orientation:portrait) {
    .actions {
        font:400 3em/1.5 'Starjedi';
    }
}
/* iphone 6 */
@media (min-width:375px) 
and (max-width : 667px) 
and (orientation:portrait) {
    .card h1 {
        font: 400 4em 'Starjedi';
    }
    .blitz .actions {
        font:400 3.0em/1.25 'Starjedi';
    }    
    .actions {
        font:400 3em/1.5 'Starjedi';
    }
}
/* ipads */
@media(min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .main {
        position:relative;
        margin:0 auto;
        top:0;
        left:0;
    }
}
/* nexus 7 */
@media (min-device-width : 601px) 
and (max-device-width : 880px)
and (orientation : landscape ) {
    .card h1 {
        font: 400 3em 'Starjedi';
    }   
    .actions {
        font:400 3em/1.5 'Starjedi';
    }
    .blitz .actions {
        font:400 1.5em/ 'Starjedi';
    }    
}

