* { 
    box-sizing:border-box;
}

html, body {
    height:100%;
    text-rendering: optimizeLegibility;
}

html {
    -webkit-text-size-adjust: 100%;    
}

body {
    background:#1c1b1e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Roboto-light", sans-serif;
    font-size:16px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.fullscreen {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.hidden {
    display:none;
}

.unstyled {
    list-style:none;
    margin:0;
    padding:0;
}

.icon {
    font-size:28px;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
}

a.btn,
a.btn:hover,
a.btn:visited {
    background:#d21516;
    border: 1px solid #343338;
    -webkit-border-radius:3px;
    border-radius:3px;   
    color:white;
    display:inline-block;
    font-size:1.25em;
    width:150px;
    height:44px;
    line-height:44px;
    outline:none;
    text-align:center;
    text-decoration:none;   
}

.main {
    background:#1c1b1e;
    height:100%;
    overflow:hidden;
}
.main.paused .pause-menu {
    top:0;
    bottom:0;
}
.main.paused .btn-pause-menu {
    display:none;
}

.notification {
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 12px;
    border-radius: 12px;
    color: #FFF;
    position: absolute;
    height:44px;
    line-height:44px;
    z-index: 9999;
    top: 20px;
    right: 20px;
    left : 20px;
    text-align: center;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition:0.5s;    
}
.notification.hidden {
    display:block;
    opacity:0;
}

.prompt {
    background:rgba(0,0,0,.5);
    color:white;
    z-index:9999;
}
.prompt p {
    padding:0 20px;
}
.prompt .outer {
    width:100%;
    height:100%;
    position:relative;
    text-align:center;
}
.prompt .inner {
    background:rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);     
    border-radius:5px;
    border:1px solid #ddd;
    color:black;
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    width:220px;
    height:150px;
    margin-top:-75px;
    margin-left:-110px;
}
.prompt a.btn,
.prompt a.btn:hover,
.prompt a.btn:visited {
    width:60px;
}
.prompt .btn-yes {
    margin-right:25px;
}

.menu {
    background:rgba(0,0,0,.75);
    padding:10px 0;
    text-align:center;
    z-index:1;
}
.menu h1 {
    color:white;
    font: 400 2.5em/1.25 'Starjedi';
    margin:0;
    padding:0;
}
.menu h1 span {
    color:#9a0f0f;
    font: 600 .375em/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Roboto-light", sans-serif;
    text-transform:uppercase;
}
.menu cite {
    color: #808080;
    position: absolute;
    font-size: .75em;
    bottom: 3px;
    display: block;
    left: 0;
    right: 0;
}

.difficulty {
    background:rgba(0,0,0,.75);
    padding:40px 20px;
    text-align:center;
    z-index:1;
}
.difficulty h1 {
    color:white;
    font: 400 2.0em/1.25 'Starjedi';
    margin:0;
    padding:0;
}
.difficulty ul {
    margin:20px 0;
    padding:10px 60px;
}
.difficulty li {
    display:inline;
}
.difficulty .btn,
.difficulty .btn:hover,
.difficulty .btn:visited {
    margin:10px;
    width:44px;
}

.pause-menu {
    background: rgb(231,226,227); /* Old browsers */
    background: linear-gradient(to right, rgba(220,211,198,0.5) 1%,rgba(231,226,227,0.5) 15%,rgba(231,226,227,0.5) 85%,rgba(220,211,198,0.5) 100%);
    z-index:9999;
    text-align:center;
    -webkit-transition: 0.5s;
    transition:0.5s;
    top:100%;
    bottom:-100%;
}
.pause-menu:after {
    content: "";
    background:transparent url('../img/linen.png');
    opacity:1.0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;      
}
.pause-menu li {
    margin:20px 0;
}
.pause-menu a.btn-close,
.pause-menu a.btn-close:hover,
.pause-menu a.btn-close:visited {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    text-decoration:none;
    display:block;
    width:44px;
    height:44px;
    line-height:44px;
    position: absolute;
    right: 0;
    top: 0;
}
.pause-menu .wrap {
    display:table;
    height:100%;
    width:100%;
}
.pause-menu ul {
    display:table-cell;
    vertical-align:middle;
}

.deck {
    background:rgba(0,0,0,.75);
    -webkit-perspective: 1200;
    perspective: 1200;
    overflow:hidden;
}
.deck::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:0.5;
    position: absolute;
    z-index: -1;   
}
.deck .btn-pause-menu,
.deck .btn-pause-menu:hover,
.deck .btn-pause-menu:visited {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;     
    background:rgba(0,0,0,.25);
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border:none;
    color:rgba(255,255,255,.5);
    height:40px;
    width:40px;
    position:absolute;
    z-index:10;
    bottom:0;
    right:2px;
    z-index:3;
}

.card {
    height:100%;  
    width:100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transition:0.5s;
    position:absolute;
    z-index:1;
}
.card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
    z-index:2;
}
.card.tossed {
    -webkit-transform: translate(100%, 0) rotateY(-90deg);
    transform: translate(100%, 0) rotateY(-90deg);
}
.face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index:2;
    text-align:center;
}
.card .front {
    background:#fff;
     -webkit-transform: rotatey(180deg);    
    transform: rotateY( 180deg );   
    z-index:1;   
}
.card .back,
.deck-bottom,
.deck::after {
    background-color:#343238;
    background: #343238 url('../img/empire_logo@2x.png') no-repeat center center;
    background: url('../img/empire_logo@2x.png') no-repeat center center, -webkit-linear-gradient(#62606a, #343238);
    background: url('../img/empire_logo@2x.png') no-repeat center center, linear-gradient(#62606a, #343238);
    background-size:contain;
}

.card-header {
    background:rgba(255,255,255,.5);    
    border-bottom:2px solid #fff;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.05);
    font: 400 3.5em 'Starjedi';
    height:90px;
    overflow:hidden;
}
.card-header:after {
    content: "";
    background:transparent url('../img/linen.png');
    opacity:1.0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;      
}

.rebel-icons li {
    display:inline;
}
.rebel-icon-red {
    color:#9a0f0f;
    background: -webkit-linear-gradient(#e24b4b, #9a0f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rebel-icon-green {
    color:#2f9e10;
    background: -webkit-linear-gradient(#6ce24c, #2f9e10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.rebel-icon-blue {
    color:#1241b8;
    background: -webkit-linear-gradient(#4c77e2, #1241b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.rebel-icon-gold {
    color:#b8b212;
    background: -webkit-linear-gradient(#e2dc4c, #b8b212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;     
}


.card .content {
    background: rgb(231,226,227); /* Old browsers */
    background: linear-gradient(to right, rgba(220,211,198,0.5) 1%,rgba(231,226,227,0.5) 15%,rgba(231,226,227,0.5) 85%,rgba(220,211,198,0.5) 100%);
    top:90px;
    right:0;
    bottom:44px;
    left:0;
    padding:0 10px;
    position:absolute;
}
.card .content:after {
    content: "";
    background:transparent url('../img/linen.png');
    opacity:1.0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;      
}

.card .content .wrap {
    display:table;
    width:100%;
    height:100%;
}

.card h1 {
    font: 400 3.5em 'Starjedi';
    letter-spacing: 2px;
    display:none;
}

.blitz h1,
.blitz .blitz-content,
.blitz .actions  {
    display:table-row;
}

.blitz-content {
    color: #666;    
    display:none;
    font-size:0.875em;
    padding:10px;
}
.blitz-content > div {
    display:table-cell;
    vertical-align:middle;
}
.blitz-content p {
    margin:0 0 5px;
    padding:0;
}


.actions {
    font:400 2.0em/1.5 'Starjedi';
    display: table-row;
}
.actions ul {
    display: table-cell;
    list-style:none;
    margin:0;
    padding:0;
    vertical-align: middle;    
}
.actions li {
    margin:0;
    padding:0;
}

.blitz .actions {
    font: 400 2em/1.25 'Starjedi';
    padding:0;
}

.blitz .actions ul {
    vertical-align:top;
}

.card-footer {
    background:#d7d2d9;
    border-top:1px solid #eee;
    height:44px;
    line-height:44px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}
.card-footer:after {
    content: "";
    background:transparent url('../img/linen.png');
    width:100%;
    height:100%;
    opacity:1.0;
    position: absolute;
    z-index: -1;      
}
.card-footer div {
    background:rgba(255,255,255,.5);
    border:1px solid #eee;
    border-radius:5px;
    float:left;
    margin:2px 5px 0 0;
    padding:0 10px;
    height:40px;
    line-height:40px    
}

.decision-bits .icon {
    display:inline-block;
}
.card-count {
    color:#5b5858;
    font-weight:800px;
}

.deck-bottom {
    position: absolute;
    width:100%;
    height:100%;
}
.deck-bottom a.btn-shuffle,
.deck-bottom a.btn-shuffle:hover,
.deck-bottom a.btn-shuffle:visited {
    position:absolute;
    top:50%;
    left:50%;    
    visibility:hidden;
    margin:-22px 0 0 -75px;
}
.deck.empty .deck-bottom {
    background:transparent;
}
.deck.empty .deck-bottom a {
    visibility:visible;
}

@media screen
and (min-aspect-ratio: 13/9){
    .difficulty {
        padding:40px 10px;
    }
    .difficulty ul {
        padding:10px 70px;
    }
    .card-header {
        height:70px;
        font-size:3em;
    }
    .card .content {
        top:70px;
    }
    .actions li {
        display:inline;
    }
    .actions li:not(:last-child):after {
        color:#ccc;
        content:' -';
    }
}

@media (min-width: 480px) {
    .menu h1 {
        font-size:2.25em;
        margin-bottom:20px;
    }   
    .card h1 {
        font: 400 2.5em 'Starjedi';
    }
    .actions {
        font:400 1.75em/1 'Starjedi';
    }
    .blitz .actions {
        font:400 1.25em/1 'Starjedi';
    }   
}

@media (min-width: 550px) {
    .card h1 {
        font: 400 2.75em 'Starjedi';
    }
    .actions {
        font:400 2.0em/1 'Starjedi';
    }
    .blitz .actions {
        font:400 1.5em/1 'Starjedi';
    }    
}

@media (min-width: 640px) {
    .card h1 {
        font: 400 3.5em 'Starjedi';
    }
    .actions {
        font:400 3.0em/1.25 'Starjedi';
    }
    .blitz .actions {
        font:400 2.5em/1.25 'Starjedi';
    }
    .blitz-content {
        font-size:1em;
    }
}

@media (min-width: 768px){
    .main {
        width:414px;
        max-height:736px;
        position:relative;
        margin:0 auto;
    }
    .actions li:not(:last-child):after {
        content:'';
    }    
    .btn-start {
        position:absolute;
        top:50%;
        left:50%;
        margin:-22px 0 0 -75px;
    }    
    .actions {
        font:400 4.0em/1.75 'Starjedi';
    }
    .blitz .actions {
        font:400 3.5em/1.25 'Starjedi';
    }
    .blitz-content {
        font-size:1em;
    }
}

@media (min-height: 768px){
    body {
        padding:20px 0;
    }
    .main {
        width:414px;
        max-height:736px;
        position:relative;
        margin:0 auto;
    }
    .btn-start {
        position:absolute;
        top:50%;
        left:50%;
        margin:-22px 0 0 -75px;
    }     
}

/* iphone 5 */
@media (min-width:320px) 
and (max-width : 568px) 
and (orientation:portrait) {
    .menu h1 {
        font-size:2.5em;
    }
    .btn-start {
        position:absolute;
        top:50%;
        left:50%;
        margin:-22px 0 0 -75px;
    }    
    .actions {
        font:400 3em/1.5 'Starjedi';
    }
    .blitz .actions {
        font:400 2.5em/1.25 'Starjedi';
    }
}
/* iphone 6 */
@media (min-width:375px) 
and (max-width : 667px) 
and (orientation:portrait) {
    .menu h1 {
        font-size:3.0em;
    }    
    .card h1 {
        font: 400 4em 'Starjedi';
    }
    .blitz .actions {
        font:400 3.0em/1.25 'Starjedi';
    }    
    .actions {
        font:400 3em/1.5 'Starjedi';
    }
}
/* ipads */
@media(min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .main {
        position:relative;
        margin:0 auto;
        top:0;
        left:0;
    }
}
/* nexus 7 */
@media (min-device-width : 601px) 
and (max-device-width : 880px)
and (orientation : landscape ) {
    .card h1 {
        font: 400 3em 'Starjedi';
    }   
    .actions {
        font:400 2.5em/1.5 'Starjedi';
    }
    .blitz .actions {
        font:400 1.5em/ 'Starjedi';
    }    
}

